node_modules/

.vscode/

.DS_Store

Thumbs.db

logs/

tmp/

cache/

*.log

*.tmp

build/

out/

AppData/

Local/

ProgramData/

*.swp

*.SWO

package-lock.json

yarn.lock

*.zip

*.rar

*.exe

*.dmg

*.iso

*.bak

*.old