.header{
    display: flex;
    padding: 30px 62px;
    align-items: end;


    .container{

        .navbar{
            display: flex;
            align-items: center;
            border-bottom: 1px dashed #262626;
            justify-content: space-between;
            padding-bottom: 30px;

            .menu{

                display: flex;
                gap: 14px;

                .button-home{

                    padding: 18px 30px;
                    background-color: #1A1A1A;
                    border-radius: 12px;
                    border: 0px;

                    p{
                        @include font(#FFFFFF, 18px, 400);
                    }
                }

                .button-products{
                    background-color: #0F0F0F;
                    padding: 18px 24px;
                    border: 1px dashed #262626;
                    border-radius: 12px;

                    p{
                        @include font(#B3B3B2, 18px, 400);
                    }
                }
            }

            .logo{

                img{
                    width: 151px;
                    height: 28px;
                }
            }
            .navigation{
                
                display: flex;
                align-items: center;
                gap: 14px;

                .basket{
                    width: 60px;
                    height: 60px;
                    padding: 18px;
                    background-color: #1A1A1A;
                    border: 0px;
                    border-radius: 12px;
                }

                .contact{
                    padding: 18px 30px;
                    background-color: #AE9B84;
                    border: 0px;
                    border-radius: 12px;

                    p{
                        font-family: Roboto;
                        @include font(#0F0F0F, 18px, 500);
                    }
                }
            }
        }

    }

    .line-h{
        height: 40px;
        width: 1px;
        border-left:  1px dashed #404040;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .line-v{
        height: 1px;
        width: 40px;
        border-bottom:  1px dashed #404040;
    }
}

@media (max-width: 1440px) {
    .header{
        padding: 30px 14px;

        .container{

        .navbar{
            display: flex;
            align-items: center;
            border-bottom: 1px dashed #262626;
            justify-content: space-between;
            padding-bottom: 30px;

            .menu{

                display: flex;
                gap: 14px;

                .button-home{

                    padding: 18px 30px;
                    background-color: #1A1A1A;
                    border-radius: 12px;
                    border: 0px;

                    p{
                        @include font(#FFFFFF, 16px, 400);
                    }
                }

                .button-products{
                    background-color: #0F0F0F;
                    padding: 18px 24px;
                    border: 1px dashed #262626;
                    border-radius: 12px;

                    p{
                        @include font(#B3B3B2, 16px, 400);
                    }
                }
            }

            .logo{

                img{
                    width: 151px;
                    height: 28px;
                }
            }
            .navigation{
                
                display: flex;
                align-items: center;
                gap: 14px;

                .basket{
                    width: 60px;
                    height: 60px;
                    padding: 18px;
                    background-color: #1A1A1A;
                    border: 0px;
                    border-radius: 12px;
                }

                .contact{
                    padding: 18px 30px;
                    background-color: #AE9B84;
                    border: 0px;
                    border-radius: 12px;

                    p{
                        font-family: Roboto;
                        @include font(#0F0F0F, 16px, 500);
                    }
                }
            }
        }

    }

    .line-h{
        margin: 0 20px 20px 20px;
    }
}
}