.questions {
    margin-bottom: 100px;

    &__content {
        padding-left: 80px;
        border: 2px dashed #262626;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        justify-content: space-between;
    }


    &__text {

        h2 {
            @include font(#ffffff, 48px, 500);
            font-family: Roboto;
            text-transform: uppercase;
            margin: 80px 0px 30px 0px;
        }

        .p {
            @include font(#676665, 18px, 400);
            font-family: Roboto;
            margin-bottom: 50px;
        }
    }

    &__menu {
        display: flex;
        gap: 14px;

        .button {
            background-color: #0F0F0F;
            border: 2px dashed #333333;
            border-radius: 12px;
            padding: 18px 24px;

            p {
                @include font(#B3B3B2, 18px, 400);
                font-family: Roboto-Mono;
            }
        }

        .button--dif {
            background-color: #C2B4A3;
            border: 2px #C2B4A3;
            padding: 18px 30px;

            p {
                @include font(#0F0F0F, 18px, 400);
            }
        }
    }

    &__img {
        border-radius: 20px;
    }


    &__items {
        display: grid;
        grid: 1fr 1fr 1fr / 1fr 1fr;
    }

    &__item {
        padding: 60px;
        border: 2px dashed #262626;

        h3 {
            @include font(#FFFFFF, 24px, 500);
            font-family: Roboto;
            margin-bottom: 16px;
        }

        p {
            @include font(#676665, 18px, 400);
            font-family: Roboto;
        }
    }
}


@media (max-width: 1440px) {
    .questions {
        margin-top: 100px;

        &__text {

            h2 {
                @include font(#ffffff, 38px, 500);
            }

            .p {
                @include font(#676665, 16px, 400);
                ;
            }

            &__menu {

                .button {

                    p {
                        @include font(#B3B3B2, 16px, 400);

                    }
                }

                .button--dif {

                    p {
                        @include font(#0F0F0F, 16px, 400);
                    }
                }
            }
        }

        &__item {

            h3 {
                @include font(#FFFFFF, 20px, 500);
            }

            p {
                @include font(#676665, 16px, 400);
            }
        }

    }
}

@media (max-width: 1024px) {
    .questions {
        margin-top: 100px;
        
        &__content {
            padding-left: 50px;
        }

        &__text {

            h2 {
                @include font(#ffffff, 30px, 500);
            }

            .p {
                @include font(#676665, 14px, 400);
            }
        }

        &__menu {

            .button {
                p {
                    @include font(#B3B3B2, 14px, 400);
                }
            }

            .button--dif {

                p {
                    @include font(#0F0F0F, 14px, 400);
                }
            }
        }

        &__img {
            width: 240px;
        }

        &__item {

            h3 {
                @include font(#FFFFFF, 18px, 500);
            }

            p {
                @include font(#676665, 14px, 400);
            }
        }
    }
}

@media (max-width: 390px) {
    .questions {
    margin-bottom: 100px;

    &__content {
        padding: 30px 20px;
    }


    &__text {

        h2 {
            @include font(#ffffff, 24px, 500);
            font-family: Roboto;
            text-transform: uppercase;
            margin: 0 0 20px 0;
        }

        .p {
            @include font(#676665, 14px, 400);
            font-family: Roboto;
            margin-bottom: 50px;
        }
    }

    &__menu {
        display: flex;
        gap: 14px;
        overflow: hidden;

        .button {
            background-color: #0F0F0F;
            border: 2px dashed #333333;
            border-radius: 12px;
            padding: 14px 20px;
       

            p {
                @include font(#B3B3B2, 14px, 400);
                font-family: Roboto-Mono;
            }
        }

        .button--dif {
            background-color: #C2B4A3;
            border: 2px #C2B4A3;
            padding: 14px 20px;

            p {
                @include font(#0F0F0F, 14px, 400);
            }
        }
    }

    &__img {
        display: none;
    }


    &__items {
        display: grid;
        grid: 1fr 1fr / 1fr ;
    }

    &__item {
        padding: 30px;
        border: 2px dashed #262626;

        h3 {
            @include font(#FFFFFF, 16px, 500);
            font-family: Roboto;
            margin-bottom: 16px;
        }

        p {
            @include font(#676665, 14px, 400);
            font-family: Roboto;
        }
    }
}
}
